lcf-schema/src/main/resources/lcf-v1.0-elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://ns.bic.org.uk/lcf/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ns.bic.org.uk/lcf/1.0"
           elementFormDefault="qualified">

    <!--
    The use of this document is subject to license terms and conditions that can be found at
    https://bic.org.uk/resources/license-to-use-bic-standards/
    -->


    <xs:include schemaLocation="lcf-v1.0-types.xsd"/>
    <xs:include schemaLocation="lcf-v1.0-codelists.xsd"/>
    <xs:include schemaLocation="lcf-v1.0-iso-codelists.xsd"/>
    <xs:include schemaLocation="lcf-v1.0-onix-codelists.xsd"/>

    <!-- LCF Elements -->

    <xs:element name="access-link">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="link-type"/>
                <xs:element ref="link"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="acknowledged" type="xs:int"/>
    <xs:element name="additional-authority-id">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="authority-id-type"/>
                <xs:element ref="type-name" minOccurs="0"/>
                <xs:element ref="value"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="additional-item-id">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item-id-type"/>
                <xs:element ref="type-name" minOccurs="0"/>
                <xs:element ref="value"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="additional-location-id">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="location-id-type"/>
                <xs:element ref="type-name" minOccurs="0"/>
                <xs:element ref="value"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="additional-manifestation-id">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="manifestation-id-type"/>
                <xs:element ref="type-name" minOccurs="0"/>
                <xs:element ref="value"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="additional-patron-id">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="patron-id-type"/>
                <xs:element ref="type-name" minOccurs="0"/>
                <xs:element ref="value"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="address-line" type="nonEmptyString"/>
    <xs:element name="associated-authority">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="association-type" type="authorityAssociationType"/>
                <xs:element ref="authority-ref"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="associated-contact">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="association-type" type="contactAssociationType"/>
                <xs:element ref="contact-name"/>
                <xs:element ref="contact-ref"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="associated-location">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="association-type" type="locationAssociationType"/>
                <xs:element ref="location-ref"/>
                <xs:element ref="library-location-service-period"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="associated-message">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="message-ref"/>
                <xs:element ref="delivery-status"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="associated-patron-group">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="association-type" type="patronGroupAssociationType"/>
                <xs:element ref="group-type" minOccurs="0"/>
                <xs:element ref="patron-group-id" minOccurs="0"/>
                <xs:element ref="lead-patron-ref" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="patron-ref" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="association-type" type="locationAssociationType"/>
    <xs:element name="audience" type="messageAlertAudience"/>
    <xs:element name="authorisation-ref" type="lcfEntityReference"/>
    <xs:element name="authorisation-type" type="authorisationCode"/>
    <xs:element name="authority-id-type" type="institutionIDType"/>
    <xs:element name="authority-ref" type="lcfEntityReference"/>
    <xs:element name="available-hold-items" type="xs:int"/>
    <xs:element name="barcode-id" type="nonEmptyString"/>
    <xs:element name="blocked-card-message" type="nonEmptyString"/>
    <xs:element name="card-status" type="cardStatus"/>
    <xs:element name="card-status-info">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="card-status"/>
                <xs:element ref="blocked-card-message" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="category-name" type="xs:string"/>
    <xs:element name="charge-amount" type="xs:decimal"/>
    <xs:element name="charge-limit">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="charge-type" minOccurs="0"/>
                <xs:group ref="pecuniaryGroup"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="charge-ref" type="lcfEntityReference"/>
    <xs:element name="charge-status" type="chargeStatus"/>
    <xs:element name="charge-type" type="chargeType"/>
    <xs:element name="circulation-status" type="circulationStatusCode"/>
    <xs:element name="class-code" type="nonEmptyString"/>
    <xs:element name="class-scheme-ref" type="lcfEntityReference"/>
    <xs:element name="class-term-ref" type="lcfEntityReference"/>
    <xs:element name="classification">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="class-scheme-ref"/>
                <xs:element ref="class-term-ref"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="closed">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="days" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="communication-type" type="communicationType">
        <xs:annotation>
            <xs:documentation source="https://bic-org-uk.github.io/bic-lcf/LCF-DataFrameworks#Notes">Value from the CMT list, which determines how the locator multiplicity should work. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="condition-code" type="proprietaryCodeList"/>
    <xs:element name="condition-description" type="nonEmptyString"/>
    <xs:element name="contact-name" type="nonEmptyString"/>
    <xs:element name="contact-ref" type="lcfEntityReference">
        <xs:annotation>
            <xs:documentation source="https://bic-org-uk.github.io/bic-lcf/LCF-DataFrameworks#Notes">Link to the methods of communication for the 'patron'. There ought to be at least one method of communication, but this has been reduced to a zero limit due to test data observed in customer deployments. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="contributor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="contributor-role"/>
                <xs:choice>
                    <xs:element ref="contributor-name"/>
                    <xs:element ref="unnamed-contributor"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="contributor-name" type="nonEmptyString"/>
    <xs:element name="contributor-role" type="contributorRole"/>
    <xs:element name="cover-art" type="xs:anyURI"/>
    <xs:element name="creation-date" type="xs:dateTime"/>
    <xs:element name="date-of-birth" type="xs:date"/>
    <xs:element name="days" type="daysOfTheWeek"/>
    <xs:element name="deposit-balance">
        <xs:complexType>
            <xs:group ref="pecuniaryGroup"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="delivered" type="xs:int"/>
    <xs:element name="delivery-status" type="messageAlertDeliveryStatus"/>
    <xs:element name="delivery-summary">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="delivered" minOccurs="0"/>
                <xs:element ref="acknowledged" minOccurs="0"/>
                <xs:element ref="delivery-to-patron-category" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="delivery-to-related-patrons" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="delivery-to-patron-category">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="category-name"/>
                <xs:element ref="total-patrons-in-category" minOccurs="0"/>
                <xs:element ref="delivered" minOccurs="0"/>
                <xs:element ref="acknowledged" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="delivery-to-related-patrons">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="total-related-patrons" minOccurs="0"/>
                <xs:element ref="delivered" minOccurs="0"/>
                <xs:element ref="acknowledged" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="description" type="nonEmptyString"/>
    <xs:element name="display-constraint" type="messageAlertDisplayConstraint"/>
    <xs:element name="display-type" type="messageDisplayType"/>
    <xs:element name="due-amount" type="xs:decimal"/>
    <xs:element name="due-date-time" type="xs:dateTime"/>
    <xs:element name="edition-statement" type="nonEmptyString"/>
    <xs:element name="end-date" type="xs:dateTime"/>
    <xs:element name="end-due-date" type="xs:dateTime"/>
    <xs:element name="end-time" type="xs:time"/>
    <xs:element name="fee-description" type="nonEmptyString"/>
    <xs:element name="fee-due-date-time" type="xs:dateTime"/>
    <xs:element name="fee-type" type="chargeType"/>
    <xs:element name="fees-due-items" type="xs:int"/>
    <xs:element name="fines-due-items" type="xs:int"/>
    <xs:element name="group-type" type="nonEmptyString"/>
    <xs:element name="heading" type="nonEmptyString"/>
    <xs:element name="hold-items-limit" type="xs:int"/>
    <xs:element name="hold-queue-position" type="xs:int"/>
    <xs:element name="home-institution-ref" type="lcfEntityReference"/>
    <xs:element name="identifier" type="nonEmptyString">
        <xs:annotation>
            <xs:documentation source="https://bic-org-uk.github.io/bic-lcf/LCF-DataFrameworks#Notes">Unique identifier, allowing the underlying database to control uniqueness of this record. The underlying system will allocate this id. Do not pass this while creating an entity.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="institution-ref" type="lcfEntityReference"/>
    <xs:element name="item-id-type" type="copyIDType"/>
    <xs:element name="item-ref" type="lcfEntityReference"/>
    <xs:element name="items-in-stock" type="xs:int"/>
    <xs:element name="language" type="iso639LanguageCode"/>
    <xs:element name="lead-patron-ref" type="lcfEntityReference"/>
    <xs:element name="library-location-service-period">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="period-name" minOccurs="0"/>
                <xs:element ref="start-date"/>
                <xs:element ref="end-date"/>
                <xs:element ref="closed" minOccurs="0"/>
                <xs:element ref="open" minOccurs="0" maxOccurs="unbounded"/>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="library-status" type="libraryStatutoryStatus"/>
    <xs:element name="library-type" type="libraryType"/>
    <xs:element name="link" type="nonEmptyString"/>
    <xs:element name="link-type" type="resourceAccessLinkType"/>
    <xs:element name="loan-fee">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fee-type"/>
                <xs:group ref="pecuniaryGroup"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="loan-items-limit" type="xs:int"/>
    <xs:element name="loan-ref" type="lcfEntityReference"/>
    <xs:element name="loan-restriction">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="restriction-type"/>
                <xs:element ref="value"/>
                <xs:element ref="restriction-note" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="loan-status" type="loanStatusCode"/>
    <xs:element name="location-id-type" type="locationIDType"/>
    <xs:element name="location-purpose" type="locationPurpose"/>
    <xs:element name="location-type" type="locationType"/>
    <xs:element name="location-ref" type="lcfEntityReference"/>
    <xs:element name="locator" type="nonEmptyString"/>
    <xs:element name="manifestation-id-type" type="manifestationIDType"/>
    <xs:element name="manifestation-record" type="nonEmptyString"/>
    <xs:element name="manifestation-ref" type="lcfEntityReference"/>
    <xs:element name="manifestation-status" type="manifestationStatus"/>
    <xs:element name="media-type">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="media-type-scheme" type="mediaTypeScheme"/>
                <xs:element ref="scheme-name" minOccurs="0"/>
                <xs:element ref="scheme-code"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="media-warning" type="mediaWarningFlag"/>
    <xs:element name="message-format" type="textFormat"/>
    <xs:element name="message-ref" type="lcfEntityReference"/>
    <xs:element name="message-text">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="message-format"/>
                <xs:element ref="text"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="message-type" type="messageAlertType"/>
    <xs:element name="name" type="nonEmptyString">
        <xs:annotation>
            <xs:documentation source="https://bic-org-uk.github.io/bic-lcf/LCF-DataFrameworks#Notes">The full name of the person or Institution being modelled as this 'patron'.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="note">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="note-type" minOccurs="0"/>
                <xs:element name="date-time" type="xs:dateTime" minOccurs="0"/>
                <xs:element ref="note-text"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="note-text" type="nonEmptyString"/>
    <xs:element name="note-type" type="noteType"/>
    <xs:element name="on-loan-items" type="xs:int"/>
    <xs:element name="on-loan-ref" type="lcfEntityReference"/>
    <xs:element name="open">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="days" minOccurs="0"/>
                <xs:element ref="open-time-period" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="open-time-period">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="start-time"/>
                <xs:element ref="end-time"/>
                <xs:element ref="staffed" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="other-description" type="nonEmptyString"/>
    <xs:element name="other-manifestation-in-series-ref" type="lcfEntityReference"/>
    <xs:element name="overdue-items" type="xs:int"/>
    <xs:element name="overdue-items-limit" type="xs:int"/>
    <xs:element name="owner-ref" type="lcfEntityReference"/>
    <xs:element name="paid-amount" type="xs:decimal"/>
    <xs:element name="paid-date" type="xs:dateTime"/>
    <xs:element name="patron-category" type="nonEmptyString"/>
    <xs:element name="patron-expiration-date" type="xs:dateTime"/>
    <xs:element name="patron-group-id" type="nonEmptyString"/>
    <xs:element name="patron-id-type" type="patronIdentificationScheme"/>
    <xs:element name="patron-ref" type="lcfEntityReference">
        <xs:annotation>
            <xs:documentation source="https://bic-org-uk.github.io/bic-lcf/LCF-DataFrameworks#Notes">A 'contact' must be associated with a pre-existing 'patron'.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="patron-status" type="patronStatusCode"/>
    <xs:element name="patron-tag" type="nonEmptyString"/>
    <xs:element name="patrons-in-hold-queue" type="xs:int"/>
    <xs:element name="payment-date" type="xs:dateTime"/>
    <xs:element name="payment-due-date" type="xs:dateTime"/>
    <xs:element name="payment-ref" type="lcfEntityReference"/>
    <xs:element name="payment-status" type="paymentStatus"/>
    <xs:element name="payment-type" type="paymentType"/>
    <xs:element name="period-name" type="xs:string"/>
    <xs:element name="pickup-date" type="xs:dateTime"/>
    <xs:element name="pickup-institution-ref" type="lcfEntityReference"/>
    <xs:element name="pickup-location-ref" type="lcfEntityReference"/>
    <xs:element name="previous-loan-ref" type="lcfEntityReference"/>
    <xs:element name="priority" type="messageAlertPriority"/>
    <xs:element name="publisher-name" type="nonEmptyString"/>
    <xs:element name="recall-notice-date" type="xs:dateTime"/>
    <xs:element name="recalled-items" type="xs:int"/>
    <xs:element name="renewal-loan-ref" type="lcfEntityReference"/>
    <xs:element name="reservation-ref" type="lcfEntityReference"/>
    <xs:element name="reservation-status" type="reservationStatus"/>
    <xs:element name="reservation-type" type="reservationType"/>
    <xs:element name="restriction-note" type="nonEmptyString"/>
    <xs:element name="restriction-type" type="loanRestrictionType"/>
    <xs:element name="return-location-ref" type="lcfEntityReference"/>
    <xs:element name="scheme-code" type="nonEmptyString"/>
    <xs:element name="scheme-name" type="nonEmptyString"/>
    <xs:element name="season">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="season-name" type="xs:string"/>
                <xs:element name="start-date" type="xs:date"/>
                <xs:element name="end-date" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="security-desensitize" type="securityDesensitize"/>
    <xs:element name="series">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="volume-or-part" minOccurs="0"/>
                <xs:element ref="other-manifestation-in-series-ref" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="staffed" type="staffedUnstaffed"/>
    <xs:element name="start-date" type="xs:dateTime"/>
    <xs:element name="start-time" type="xs:time"/>
    <xs:element name="subtitle" type="nonEmptyString"/>
    <xs:element name="suspension-period">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="start-date" minOccurs="0"/>
                <xs:element ref="end-date" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="terminal-location" type="nonEmptyString"/>
    <xs:element name="text" type="nonEmptyString"/>
    <xs:element name="title">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title-type"/>
                <xs:element ref="title-text"/>
                <xs:element ref="subtitle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="title-text" type="nonEmptyString"/>
    <xs:element name="title-type" type="titleType"/>
    <xs:element name="total-patrons-in-category" type="xs:int"/>
    <xs:element name="total-related-patrons" type="xs:int"/>
    <xs:element name="transaction-reference" type="nonEmptyString"/>
    <xs:element name="type-name" type="nonEmptyString"/>
    <xs:element name="unavailable-hold-items" type="xs:int"/>
    <xs:element name="unnamed-contributor" type="unnamedContributorType"/>
    <xs:element name="value" type="nonEmptyString"/>
    <xs:element name="value-scheme-ref" type="lcfEntityReference"/>
    <xs:element name="volume-or-part" type="nonEmptyString"/>
    <xs:element name="year-of-publication" type="xs:gYear"/>

</xs:schema>

