lcf-schema/src/main/resources/lcf-v1.0-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://ns.bic.org.uk/lcf/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ns.bic.org.uk/lcf/1.0" elementFormDefault="qualified">

    <!-- LCF Common Types -->

    <xs:simpleType name="lcfEntityReference">
        <xs:restriction base="nonEmptyString"/>
    </xs:simpleType>
    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="proprietaryCodeList">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

</xs:schema>