lcf-schema/src/main/resources/lcf-v1.0-entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://ns.bic.org.uk/lcf/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ns.bic.org.uk/lcf/1.0" elementFormDefault="qualified">
    <xs:include schemaLocation="lcf-1.0-elements.xsd"/>

    <!-- LCF Entities -->

    <xs:element name="authorisation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo source="https://github.com/anthonywhitford/bic-lcf/wiki/LCF-1.0.1-Information-Entity-XML-bindings#ElementID">E13D01</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:group ref="authorisation-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="authorisation-props">
        <xs:sequence>
            <xs:element ref="authorisation-type" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo source="https://github.com/anthonywhitford/bic-lcf/wiki/LCF-1.0.1-Information-Entity-XML-bindings#ElementID">E13D02</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="heading" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo source="https://github.com/anthonywhitford/bic-lcf/wiki/LCF-1.0.1-Information-Entity-XML-bindings#ElementID">E13D03</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo source="https://github.com/anthonywhitford/bic-lcf/wiki/LCF-1.0.1-Information-Entity-XML-bindings#ElementID">E13C04</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:element name="authority">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo source="https://github.com/anthonywhitford/bic-lcf/wiki/LCF-1.0.1-Information-Entity-XML-bindings#ElementID">E13D01</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:group ref="authority-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="authority-props">
        <xs:sequence>
            <xs:element ref="additional-authority-id" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="name"/>
            <xs:element ref="associated-location" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="associated-contact" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="associated-authority" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="charge">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="charge-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="charge-props">
        <xs:sequence>
            <xs:element ref="patron-ref"/>
            <xs:element ref="charge-type"/>
            <xs:element ref="charge-status"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="item-ref" minOccurs="0"/>
            <xs:element ref="manifestation-ref" minOccurs="0"/>
            <xs:element ref="loan-ref" minOccurs="0"/>
            <xs:element ref="reservation-ref" minOccurs="0"/>
            <xs:element ref="creation-date" minOccurs="0"/>
            <xs:element ref="payment-due-date" minOccurs="0"/>
            <xs:element ref="charge-amount"/>
            <xs:element ref="currency" minOccurs="0"/>
            <xs:element ref="paid-amount" minOccurs="0"/>
            <xs:element ref="due-amount" minOccurs="0"/>
            <xs:element ref="paid-date" minOccurs="0"/>
            <xs:element ref="payment-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="class-scheme">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="class-scheme-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="class-scheme-props">
        <xs:sequence>
            <xs:element ref="name"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="class-term">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="class-term-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="class-term-props">
        <xs:sequence>
            <xs:element ref="class-code"/>
            <xs:element ref="class-scheme-ref"/>
            <xs:element ref="heading" minOccurs="0"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="contact">
        <xs:annotation>
            <xs:documentation>Represents a single method of communication with a 'patron'. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="contact-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="contact-props">
        <xs:sequence>
            <xs:element ref="patron-ref" minOccurs="0"/>
            <xs:element ref="location-ref" minOccurs="0"/>
            <xs:element ref="institution-ref" minOccurs="0"/>
            <xs:element ref="communication-type"/>
            <xs:element ref="locator" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="item-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="item-props">
        <xs:sequence>
            <xs:element ref="additional-item-id" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="manifestation-ref"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="owner-ref" minOccurs="0"/>
            <xs:element ref="associated-location" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="media-warning"/>
            <xs:element ref="security-desensitize"/>
            <xs:element ref="loan-restriction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="loan-fee" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="circulation-status"/>
            <xs:element ref="reservation-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="patrons-in-hold-queue" minOccurs="0"/>
            <xs:element ref="on-loan-ref" minOccurs="0"/>
            <xs:element ref="condition-code" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="condition-description" minOccurs="0"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="loan">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="loan-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="loan-props">
        <xs:sequence>
            <xs:element ref="patron-ref"/>
            <xs:element ref="item-ref"/>
            <xs:element ref="start-date"/>
            <xs:element ref="end-due-date" minOccurs="0"/>
            <xs:element ref="end-date" minOccurs="0"/>
            <xs:element ref="loan-status" maxOccurs="unbounded"/>
            <xs:element ref="access-link" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="recall-notice-date" minOccurs="0"/>
            <xs:element ref="charge-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="location">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="location-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="location-props">
        <xs:sequence>
            <xs:element ref="additional-location-id" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="name" minOccurs="0"/>
            <xs:element ref="location-type" minOccurs="0"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="contact-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="associated-location"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="manifestation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="manifestation-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="manifestation-props">
        <xs:sequence>
            <xs:element ref="additional-manifestation-id" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="media-type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="title" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="contributor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="series" minOccurs="0"/>
            <xs:element ref="edition-statement" minOccurs="0"/>
            <xs:element ref="publisher-name" minOccurs="0"/>
            <xs:element ref="year-of-publication" minOccurs="0"/>
            <xs:element ref="classification" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="cover-art" minOccurs="0"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="loan-restriction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="loan-fee" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="patrons-in-hold-queue" minOccurs="0"/>
            <xs:element ref="manifestation-record" minOccurs="0"/>
            <xs:element ref="manifestation-status"/>
            <xs:element ref="items-in-stock" minOccurs="0"/>
            <xs:element ref="item-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="reservation-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="message-alert">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="message-alert-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="message-alert-props">
        <xs:sequence>
            <xs:element ref="authority-ref" minOccurs="0"/>
            <xs:element ref="message-type"/>
            <xs:element ref="priority" minOccurs="0"/>
            <xs:element ref="display-type" minOccurs="0"/>
            <xs:element ref="display-constraint" minOccurs="0"/>
            <xs:element ref="start-date" minOccurs="0"/>
            <xs:element ref="end-date" minOccurs="0"/>
            <xs:element ref="audience" minOccurs="0"/>
            <xs:element ref="patron-category" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="patron-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="message-text" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="patron">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="patron-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="patron-props">
        <xs:sequence>
            <xs:element ref="barcode-id" minOccurs="0"/>
            <xs:element ref="additional-patron-id" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="name"/>
            <xs:element ref="contact-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="language" minOccurs="0"/>
            <xs:element ref="associated-location" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="home-institution-ref" minOccurs="0"/>
            <xs:element ref="patron-status" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="card-status-info" minOccurs="0"/>
            <xs:element ref="patron-category" minOccurs="0"/>
            <xs:element ref="patron-tag" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="patron-expiration-date" minOccurs="0"/>
            <xs:element ref="associated-patron-group" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="loan-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="on-loan-items" minOccurs="0"/>
            <xs:element ref="loan-items-limit" minOccurs="0"/>
            <xs:element ref="overdue-items" minOccurs="0"/>
            <xs:element ref="overdue-items-limit" minOccurs="0"/>
            <xs:element ref="recalled-items" minOccurs="0"/>
            <xs:element ref="fees-due-items" minOccurs="0"/>
            <xs:element ref="fines-due-items" minOccurs="0"/>
            <xs:element ref="reservation-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="available-hold-items" minOccurs="0"/>
            <xs:element ref="unavailable-hold-items" minOccurs="0"/>
            <xs:element ref="hold-items-limit" minOccurs="0"/>
            <xs:element ref="charge-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="charge-limit" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="deposit-balance" minOccurs="0"/>
            <xs:element ref="associated-message" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="date-of-birth" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="payment">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="payment-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="payment-props">
        <xs:sequence>
            <xs:element ref="patron-ref"/>
            <xs:element ref="payment-type"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="charge-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="payment-date" minOccurs="0"/>
            <xs:element ref="amount"/>
            <xs:element ref="currency" minOccurs="0"/>
            <xs:element ref="payment-status" minOccurs="0"/>
            <xs:element ref="transaction-reference" minOccurs="0"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="property">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="property-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="property-props">
        <xs:sequence>
            <xs:element ref="name" minOccurs="0"/>
            <xs:element name="entity-type" type="entityType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="value-scheme-ref" minOccurs="0"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="reservation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identifier" minOccurs="0"/>
                <xs:group ref="reservation-props"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="reservation-props">
        <xs:sequence>
            <xs:element ref="reservation-type"/>
            <xs:element ref="patron-ref"/>
            <xs:choice>
                <xs:element ref="manifestation-ref"/>
                <xs:element ref="item-ref"/>
            </xs:choice>
            <xs:element ref="start-date" minOccurs="0"/>
            <xs:element ref="pickup-institution-ref" minOccurs="0"/>
            <xs:element ref="pickup-location-ref" minOccurs="0"/>
            <xs:element ref="pickup-date" minOccurs="0"/>
            <xs:element ref="end-date" minOccurs="0"/>
            <xs:element ref="reservation-status"/>
            <xs:element ref="hold-queue-position" minOccurs="0"/>
            <xs:element ref="loan-ref" minOccurs="0"/>
            <xs:element ref="charge-ref" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>

</xs:schema>
